/* Général */
h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Compétences */

#competences{
    background-color: #dee2c5;
}

.competence {
    position: relative;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 0.7rem 2rem black;
    border-radius: 10px;
    width:100%;
    padding:3rem;
    background-color: white;
}


.competence img {
    width: 100%; /* Occupe toute la largeur du conteneur */
    height: 7rem; /* Hauteur fixe pour uniformiser */
    object-fit: contain; /* Ajuste le contenu à l'intérieur sans déformer */
    border-radius: 10px; /* (optionnel) Donne un effet arrondi */
    transition: transform 0.3s ease-in-out;
    
}


.competence:hover img {
    transform: scale(1.1);
}

.competence .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    color: #fff;
}

.competence:hover .overlay {
    opacity: 1;
}

.skill-bar {
    width: 80%;
    height: 10px;
    background-color: #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.skill-bar .skill-level {
    height: 100%;
    background-color: #3498db;
    transition: width 0.3s ease-in-out;
}

/* Projets */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
}

.card h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.card-footer {
    background-color: #fff;
    border-top: none;
}

.card-footer a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.card-img-top {
    height: 200px;
    object-fit: fill;
    border-radius: 10px; 
}


/*mode sombre*/ 

body.dark-mode{
    background-color: #353535;
}

body.dark-mode #competences{
    background-color: #5a5a59;
}


body.dark-mode .competence .overlay {
    background-color: rgba(102, 94, 94, 0.7);
    color: white;
}



body.dark-mode .skill-bar {
    background-color: #684949;

}



body.dark-mode .skill-bar .skill-level {
    background-color: #000000;
}


body.dark-mode .container h2{
    color:white;
}

body.dark-mode .card-footer {
    background-color: #6b6b6b;
}
